body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainGrid {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contentFlex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mainCol-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.mainCol-2 {
    grid-column-start: 3;
    grid-column-end: 11;
}

.dashboardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLink:hover {
    cursor: pointer;
    background-color: lightgray;
}

.userNavLink:hover {
    cursor: pointer;
    background-color: lightgray;
}

.icon {
    padding-right: 0.5em;
}

.listItemInput {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 100%;
    font-family: inherit;
    background: none;
    border: none;
}

.checkmark {
    opacity: 0;
    cursor: pointer;
}

.customCheckmark {
    position: relative;
    top: -28px;
    display: inline-block;
    background: url('./checked.png') no-repeat center;
    background-size: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.listItemText:hover {
    cursor: pointer;
}

.listItemMore {
    padding: 1em;
    display: block;
    font-size: 100%;
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
}

.listItemMore:hover {
    cursor: pointer;
}

.menuOpen {
    display: inline-block;
}

.menuHidden {
    display: none;
}

.infoMenuButton {
    width: 50%;
    font-size: 100%;
    font-family: inherit;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonActive {
    background-color: white;
    color: grey;
    border: 1px solid rgb(190, 190, 190);
}

.buttonDisabled {
    background-color: rgb(190, 190, 190);
    color: white;
    border: none;
    cursor: pointer;
}

.infoContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editButtons {
    margin: 1em;
    padding: 1em;
    width: 8em;
    font-size: 100%;
    font-family: inherit;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
}

.editButtons:hover {
    cursor: pointer;
}